{% extends 'base.html' %}

{% block content %}
        <form method="post">
        <input name="started_at" value="2018-01-01">
        <input name="ended_at" value="2018-10-30">
        <input name="color" value="red">
        <input name="plate" value="AN%">
        <input name="customer_id" value="8">
        <button type="submit" class="btn"></button>
    </form>
{% endblock %}

